[submodule "modules/com.unity.timeline"]
	path = modules/com.unity.timeline
	url = https://github.com/needle-tools/com.unity.timeline
[submodule "modules/Unity-Custom-Undo"]
	path = modules/Unity-Custom-Undo
	url = https://github.com/needle-tools/Unity-Custom-Undo
[submodule "modules/needle-console"]
	path = modules/needle-console
	url = https://github.com/needle-tools/needle-console
[submodule "modules/selective-profiling"]
	path = modules/selective-profiling
	url = https://github.com/needle-tools/selective-profiling
